<nav class="navbar navbar-my-dark"> <!-- second navbar -->
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right my-navbar-end-row">
        <li><a href="">Flames <span class="badge">144K</span></a></li>
        <li>
          <%= link_to following_path(id: @user.id) do %>
            Masters <span class="badge"><%= @user.following.size %></span>
          <% end %>
        </li>
        <li>
          <%= link_to followers_path(id: @user.id) do %>
            Minions <span class="badge infinity">&infin;</span>
          <% end %>
        </li>
        <li><a href="">Stokes <span class="badge">600</span></a></li>
        <li><a href="">Codex <span class="badge">3 Score</span></a></li>
        <% if current_user.following.include?(@user.id) %>
          <%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-primary", id: "unfollow-btn" %>
        <% else %>
          <% if current_user.id != @user.id %>
            <%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </ul>
  </div>
</nav>
