
<div class="pofile-info">
  @<%= @user.username %>
  <p><%= @user.name %></p>
  <p><%= @user.location %></p>
  <p>Flayming since <%= @user.created_at.strftime("%b %y") %>
</div>
<div class="well my-well">
  <p><%= @user.bio %></p>
</div>
<div class="well my-well"></div>
<div class="well my-well"></div>
